# Analizando las estadísticas de jugadores de futbol con Pandas

![FIFA](https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/FIFA_logo_without_slogan.svg/1200px-FIFA_logo_without_slogan.svg.png)

En esta notebook, utilizarás Pandas para analizar datos de jugadores de futbol (soccer). Los datos se encuentran en forma tabular e incluyen información relevante de jugadores de futbol de todo el mundo.

---


Cada fila en el conjunto de datos contiene información sobre el jugador:
* Información personal: Nombre, nacionalidad, , edad, altura, peso y pierna preferida al jugar.
* Información como jugador: Nombre del equipo en el que juega (Club), número de playera, posición en el campo (abreviada), valor comercial y salario.
* Información sobre sus habilidades como jugador (0-100): Overall, Potential, Shooting, Defense, Passing, Physical, Control, Mental y GoalKeeping.


Durante la notebook llevarás a cabo tareas de tratamiento y análisis exploratorio de datos comunmente realizadas. Buscarás información que podría resultar útil para las organizaciones.



---



Recuerda que puedes acudir a la [documentación de Pandas](https://pandas.pydata.org/pandas-docs/stable/reference/index.html) o a la notebook de Pandas.

Primero, importa Pandas en tu notebook:

In [169]:
# pandas usando el alias pd
import pandas as pd

Ejecuta la siguiente celda para cargar el conjunto de datos desde el repositorio en github a la máquina en colab.

In [170]:
# Fetch the dataset using the raw GitHub URL.
!curl --remote-name \
     -H 'Accept: application/vnd.github.v3.raw' \
     --location https://raw.githubusercontent.com/MauricioRR-Tec/Machine-Learning/master/Notebooks/data/players.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1955k  100 1955k    0     0  2258k      0 --:--:-- --:--:-- --:--:-- 2255k

Veamos las primeras líneas del archivo usando un comando de linux en la celda de colab:

In [3]:
!head -n 5 players.csv

ID,Name,Nationality,Club,Jersey Number,Value,Wage,Age,Height,Weight,Preferred Foot,Position,Overall,Potential,Shooting,Defense,Passing,Physical,Control,Mental,GoalKeeping
158023,L. Messi,Argentina,FC Barcelona,10.0,€110.5M,€565K,31,5'7,159lbs,Left,RF,94,94,86,41,87,80,96,95,11
20801,Cristiano Ronaldo,Portugal,Juventus,7.0,€77M,€405K,33,6'2,183lbs,Right,ST,94,94,88,41,81,86,84,91,12
190871,Neymar Jr,Brazil,Paris Saint-Germain,10.0,€118.5M,€290K,26,5'9,150lbs,Right,LW,92,93,81,42,80,79,92,92,12
193080,De Gea,Spain,Manchester United,1.0,€72M,€260K,27,6'4,168lbs,Right,GK,91,93,21,18,39,56,34,75,89

## Carga el conjunto de datos FIFA usando pandas

In [171]:
# leer el dataframe usando read_csv
fifa_df = pd.read_csv("players.csv", sep=',', header=0)
# mostrar los primeros elementos con head
fifa_df.head()

       ID               Name Nationality  ... Control  Mental GoalKeeping
0  158023           L. Messi   Argentina  ...    96.0    95.0        11.0
1   20801  Cristiano Ronaldo    Portugal  ...    84.0    91.0        12.0
2  190871          Neymar Jr      Brazil  ...    92.0    92.0        12.0
3  193080             De Gea       Spain  ...    34.0    75.0        89.0
4  192985       K. De Bruyne     Belgium  ...    85.0    91.0        11.0

[5 rows x 21 columns]

## Características del dataset

¿Qué tipos de datos contiene nuestro dataframe?

In [172]:
for name, t in zip(fifa_df.columns, fifa_df.dtypes):
  print(name, t)

ID int64
Name object
Nationality object
Club object
Jersey Number float64
Value object
Wage object
Age int64
Height object
Weight object
Preferred Foot object
Position object
Overall int64
Potential int64
Shooting float64
Defense float64
Passing float64
Physical float64
Control float64
Mental float64
GoalKeeping float64

¿Qué tamaño tiene nuestro dataset?

Utiliza el método ```shape``` para conocer el número de filas y columnas en el dataframe.

In [173]:
m,n = fifa_df.shape
print("Filas:", m)
print("Columnas:", n)

Filas: 18207
Columnas: 21

In [7]:
assert m == 18207 and n == 21, "Error en las dimensiones"

### Estadísticas generales del dataset.

Usa ```describre()``` para mostrar las estadísticas generales de las columnas numéricas en el dataframe.

In [8]:
fifa_df.describe()

                  ID  Jersey Number  ...        Mental   GoalKeeping
count   18207.000000   18147.000000  ...  18159.000000  18159.000000
mean   214298.338606      19.546096  ...     57.958974     16.468087
std     29965.244204      15.947765  ...      9.933340     17.002775
min        16.000000       1.000000  ...     25.000000      1.000000
25%    200315.500000       8.000000  ...     51.000000     10.000000
50%    221759.000000      17.000000  ...     58.000000     11.000000
75%    236529.500000      26.000000  ...     65.000000     12.000000
max    246620.000000      99.000000  ...     95.000000     89.000000

[8 rows x 12 columns]

## Tratamiento de datos

### Datos faltantes

Antes de poder hacer transformaciones y operaciones en los datos, es importante identificar la posible existencia de datos faltantes. El método ```isna()``` de pandas, permite obtener un dataframe booleano que identifica entradas faltantes. 

Usémos ```isna()```, ```sum(axis=0)``` y ```to_frame().T``` para resumir el resultado de datos faltantes como un conteo por columnas:

In [174]:
fifa_df.isna().sum(axis=0).to_frame().T

   ID  Name  Nationality  Club  ...  Physical  Control  Mental  GoalKeeping
0   0     0            0   241  ...        48       48      48           48

[1 rows x 21 columns]

Una manera de tratar con datos faltantes, es eliminar las filas que contienen uno o más datos faltantes, dejando solo registros completos.

Ya que para nuestro conjunto de datos la cantidad de faltantes es mínima, podemos usar esta estrategia.

Completa la siguiente celda para eliminar filas (```axis=0```) que contengan algún dato faltante (```dropna```):

In [175]:
t_df = fifa_df.dropna(axis=0)

Verifica que no hay más datos faltantes:

In [176]:
empty_columns = t_df.isna().sum(axis=0).to_frame().T
empty_columns

   ID  Name  Nationality  Club  ...  Physical  Control  Mental  GoalKeeping
0   0     0            0     0  ...         0        0       0            0

[1 rows x 21 columns]

In [177]:
assert empty_columns.values.sum() == 0, "Error, aun hay datos faltantes"

Finalmente, reemplazar el dataframe original por el nuevo sin elementos faltantes.

In [178]:
fifa_df = t_df

### Transformaciones

Las celdas fueron inferidas como tipo ```object``` por pandas. Algunas de éstas contienen datos numéricos que podrían ser útiles para el análisis. 

Por ejemplo, las columnas ```Wage``` y ```Value``` contienen datos sobre el salario y el valor en el mercado de cada jugador. Ambas columnas contienen el signo de la moneda (€) al inicio y al final pueden contener la abreviación de cantidades (K miles, M millones). 

Debemos realizar un tratamiento de datos en tales columnas para poder usarlas de manera numérica.

Primero, confirmemos que solo tenemos casos donde las cantidades terminan en K, M o sin abreviaturas. Usemos funciones de agregación.

Contemos las veces que aparecen los distintos caracteres al final de los registros en la columna ```Wage```:

In [179]:
fifa_df[["Wage"]].groupby(fifa_df.Wage.str[-1]).count()

       Wage
Wage
K     17918

Contemos las veces que aparecen los distintos caracteres al final de los registros en la columna ```Value```:

In [180]:
fifa_df[["Value"]].groupby(fifa_df.Value.str[-1]).count()

       Value
Value
0         11
K      11060
M       6847

In [181]:
def currency_to_numeric(currency):
  """
  La funcion recibe valores monetarios en un objeto de texto, los tranforma:
  1- Elimina el simbolo de la moneda al inicio de la cadena
  2- Extrae el caracter adicional al final de la cadena que indica el
     multiplo de la cantidad (abreviatura). No siempre hay un simbolo.
  3- Usa el valor para devolver la cantidad en numero (multiplica por el valor).
  Ej: 250K pasa a 250000
  ya que
  1K = 1000
  1M = 1000000
  Sin letra solo parte numerica
  """
  # el multiplo de K o M
  symbols = {"K": 1000, "M": 1000000}
  # Actualiza el valor de numeric con la cantidad en currency
  numeric = 0.0
  currency =  currency[1:]
  for key, value in symbols.items():
    if key == currency[-1]:
      numeric = float(currency[:-1])*value
  if numeric == 0.0:
    numeric = float(currency)

  return numeric

Prueba tu función:

In [182]:
currency_to_numeric("$20")

20.0

In [183]:
assert currency_to_numeric("$20") == 20.0 and currency_to_numeric("$50K") == 50*10.0**3 and currency_to_numeric("$10M") == 10*10.0**6, "Error"

Cambia las columnas ```Wage``` y ```Value``` a numéricos usando ```currency_to_numeric``` elemento por elemento con ```applymap```:

In [184]:
fifa_df[["Wage", "Value"]] = fifa_df[["Wage", "Value"]].applymap(currency_to_numeric)
fifa_df.head()

       ID               Name Nationality  ... Control  Mental  GoalKeeping
0  158023           L. Messi   Argentina  ...    96.0    95.0         11.0
1   20801  Cristiano Ronaldo    Portugal  ...    84.0    91.0         12.0
2  190871          Neymar Jr      Brazil  ...    92.0    92.0         12.0
3  193080             De Gea       Spain  ...    34.0    75.0         89.0
4  192985       K. De Bruyne     Belgium  ...    85.0    91.0         11.0

[5 rows x 21 columns]

### Suplementando la información

En el set de datos, tenemos una columna ```Position``` que indica la posición en la que el jugador se desempeña en el campo. Algo que podrás notar, es que originalmente la posición está de manera abreviada, si no conoces las abreviaturas, será complicado saber en qué posición juega cada jugador. 


Para solucionar esto, usémos otro set de datos para cambiar de abreviatura a algo más descriptivo, pero manteniendo la abreviatura.

La siguiente imágen muestra las posiciónes más comunes en el campo:
![Posiciones de juego](https://raw.githubusercontent.com/MauricioRR-Tec/Machine-Learning/master/Notebooks/images/SoccerFieldPositions.png)

Vamos a utilizar un nuevo set de datos que contiene la abreviatura de cada posición (```Abbreviation```) y su significado (```Full```).

Cargemos el archivo desde github a colab con la siguiente celda:

In [185]:
# Fetch the dataset using the raw GitHub URL.
!curl --remote-name \
     -H 'Accept: application/vnd.github.v3.raw' \
     --location https://raw.githubusercontent.com/MauricioRR-Tec/Machine-Learning/master/Notebooks/data/positions.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   772  100   772    0     0   2522      0 --:--:-- --:--:-- --:--:--  2522

Ejecuta la siguiente celda para crear y ver el nuevo dataframe con los datos de las posiciones:

In [186]:
positions_df = pd.read_csv("positions.csv", header=0, skipinitialspace=True)
positions_df.head()

  Abbreviation               Full
0           GK         Goalkeeper
1           SW            Sweeper
2           CB        Center Back
3          LCB   Left Center Back
4          RCB  Right Center Back

Utiliza el nuevo dataframe para actualizar la columna ```Position``` en el dataframe de jugadores por la posición descriptiva + abreviada.

Primero, debemos de *unir* ambos dataframes, ambos comparten una columna (pero tienen diferentes nombre) la posición abreviada.

Utiliza un método de pandas para unir el dataframe ```fifa_df``` con ```positions_df```.

*Tip: Queremos unir los datos de la **izquierda** con una sola fila de los de la derecha.*

In [187]:
merged_df = pd.merge(fifa_df, positions_df, how='left', left_on='Position', right_on='Abbreviation')

In [188]:
merged_df.head()

       ID               Name  ... Abbreviation                   Full
0  158023           L. Messi  ...           RF          Right Forward
1   20801  Cristiano Ronaldo  ...           ST                Striker
2  190871          Neymar Jr  ...           LW              Left Wing
3  193080             De Gea  ...           GK             Goalkeeper
4  192985       K. De Bruyne  ...          RCM  Right Center Midfield

[5 rows x 23 columns]

In [189]:
assert len(merged_df.columns) == 23, "Error"
print("La union de ambos dataframes contiene ", len(merged_df.columns), " columnas")

La union de ambos dataframes contiene  23  columnas

Usemos la nueva columna ```Full``` para actualizar la columna ```Position``` para que contenga el significado y abreviatura de la posición:

```merged_df["Full"] + " (" + merged_df["Position"] +")"```

In [190]:
merged_df["Position"] = merged_df["Full"] + " (" + merged_df["Position"] +")"

Muestra la columna actualizada:

In [191]:
merged_df["Position"].head(3)

0    Right Forward (RF)
1          Striker (ST)
2        Left Wing (LW)
Name: Position, dtype: object

Ahora, tenemos algunas columnas adicionales que ya no son útiles.

Eliminemos las columnas ```Abbreviation``` y ```Full``` del dataframe usando ```drop()```:

In [192]:
merged_df = merged_df.drop(["Abbreviation", "Full"], axis=1)

In [193]:
merged_df.head(3)

       ID               Name Nationality  ... Control  Mental  GoalKeeping
0  158023           L. Messi   Argentina  ...    96.0    95.0         11.0
1   20801  Cristiano Ronaldo    Portugal  ...    84.0    91.0         12.0
2  190871          Neymar Jr      Brazil  ...    92.0    92.0         12.0

[3 rows x 21 columns]

In [194]:
assert len(merged_df.columns) == 21, "Error"

Asignemos al dataframe original ```fifa_df``` el nuevo dataframe con el tratamiento de datos ya realizado:

In [195]:
fifa_df = merged_df
fifa_df.head()

       ID               Name Nationality  ... Control  Mental  GoalKeeping
0  158023           L. Messi   Argentina  ...    96.0    95.0         11.0
1   20801  Cristiano Ronaldo    Portugal  ...    84.0    91.0         12.0
2  190871          Neymar Jr      Brazil  ...    92.0    92.0         12.0
3  193080             De Gea       Spain  ...    34.0    75.0         89.0
4  192985       K. De Bruyne     Belgium  ...    85.0    91.0         11.0

[5 rows x 21 columns]

## Análisis exploratorio

En esta sección, utilizarás distintos métodos de los dataframes de pandas para generar un análisis exploratorio. En un análisis exploratorio, se busca explorar, resumir y entender los datos.

### Jugadores con el mayor valor comercial y jugadores mejores pagados

Muestra el **Top 3** de jugadores con mayor valor (```Value```) en el mercado.

In [196]:
fifa_df.nlargest(3,'Value')

       ID          Name Nationality  ... Control  Mental  GoalKeeping
2  190871     Neymar Jr      Brazil  ...    92.0    92.0         12.0
0  158023      L. Messi   Argentina  ...    96.0    95.0         11.0
4  192985  K. De Bruyne     Belgium  ...    85.0    91.0         11.0

[3 rows x 21 columns]

Muestra el **Top 3** de jugadores mejores pagados en el mundo (Salarios más altos, ```Wage```).

In [205]:
fifa_df.nlargest(3,'Wage')

       ID       Name Nationality  ... Mental  GoalKeeping  Potential left
0  158023   L. Messi   Argentina  ...   95.0         11.0               0
7  176580  L. Suárez     Uruguay  ...   87.0         31.0               0
6  177003  L. Modrić     Croatia  ...   89.0         10.0               0

[3 rows x 22 columns]

### Potencial por alcanzar

Utiliza operaciones Crea una nueva columna que  muestre el potencial por alcanzar ```Potential left``` de cada jugador en el conjunto de datos. El potencial por alcanzar puede ser calculado mediante ```Potential - Overall```.

In [197]:
fifa_df["Potential left"] = fifa_df["Potential"]-fifa_df["Overall"]
fifa_df.head()

       ID               Name Nationality  ... Mental  GoalKeeping  Potential left
0  158023           L. Messi   Argentina  ...   95.0         11.0               0
1   20801  Cristiano Ronaldo    Portugal  ...   91.0         12.0               0
2  190871          Neymar Jr      Brazil  ...   92.0         12.0               1
3  193080             De Gea       Spain  ...   75.0         89.0               2
4  192985       K. De Bruyne     Belgium  ...   91.0         11.0               1

[5 rows x 22 columns]

### Jóvenes promesa

Utiliza las funciones de Pandas para encontrar el **top 5** de jugadores "promesa" menores de 22 años. Ordena ascendentemente el dataframe según el potencial (```Potential```), potencial por alcanzar (```Potential left```) y su nivel (```Overall ```) actual.

In [204]:
fifa_df[fifa_df['Age']<22].sort_values(by=['Potential', 'Potential left', 'Overall'], ascending=False).head()

          ID             Name Nationality  ... Mental  GoalKeeping  Potential left
25    231747        K. Mbappé      France  ...   85.0          8.0               7
229   230621    G. Donnarumma       Italy  ...   64.0         81.0              11
1134  238794  Vinícius Júnior      Brazil  ...   71.0          7.0              15
155   231443       O. Dembélé      France  ...   80.0         10.0               9
156   230666    Gabriel Jesus      Brazil  ...   82.0         10.0               9

[5 rows x 22 columns]

### Mejor defensa en el mundo

Encuentra al jugador con el mayor puntaje en la columna ```Defense```:

*Tip: utiliza el método ```idxmax``` para encontrar la fila donde se encuentra el mejor defensa. Después usa el índice para acceder a los datos de la fila.*

In [210]:
#idx = #<completa>
fifa_df[["Name", "Club", "Defense", "Position"]].nlargest(1,'Defense')

        Name     Club  Defense                         Position
14  N. Kanté  Chelsea     86.0  Left Defensive Midfielder (LDM)

### Porcentaje pie preferido

Calcula el porcentaje mundial de jugadores que prefieren utilizar su pierna derecha para controlar el balón y el porcentaje que prefiere utilizar la pierna izquierda.

*Tip: El método ```value_counts()``` de objetos Series podría resultarte particularmente útil para esta tarea.*

In [221]:
fifa_df['Preferred Foot'].value_counts()/fifa_df.shape[0]*100

Right    76.771961
Left     23.228039
Name: Preferred Foot, dtype: float64

### Equipos con mayor talento promedio

Utiliza funciones de agregación y de agrupamiento para obtener a los equipos con el mejor promedio de nivel (```Overall```) entre sus jugadores.

In [241]:
fifa_df.groupby(by='Club').agg('Overall').mean().nlargest(5)

Club
Juventus       82.280000
Napoli         80.000000
Inter          79.750000
Real Madrid    78.242424
Milan          78.074074
Name: Overall, dtype: float64

### Equipos con más costosos (valor comercial)

Utiliza funciones de agregación y agrupamiento para encontrar el valor total de de cada club, esto es, la suma de los valores individuales de los jugadores de los Club.

Ordena de manera descendente para mostrar los clubs más costosos del mundo.

In [242]:
fifa_df.groupby(by='Club').agg('Value').sum().nlargest(5)

Club
Real Madrid          874425000.0
FC Barcelona         852600000.0
Manchester City      786555000.0
Juventus             704475000.0
FC Bayern München    679025000.0
Name: Value, dtype: float64

### ¿Qué equipos tienen más mexicanos?

Muestra un top 5 de equipos con más jugadores mexicanos en el mundo.

Primero, crea un dataframe que contiene unicamente jugadores mexicanos:

*Tip: Filtra el dataframe usando ```Nationality==Mexico```*.

In [247]:
players_mx_df = fifa_df[fifa_df['Nationality']=='Mexico']
players_mx_df.head(3)

         ID         Name Nationality  ... Mental  GoalKeeping  Potential left
306  171897  A. Guardado      Mexico  ...   80.0         10.0               0
329  221992    H. Lozano      Mexico  ...   76.0         12.0               5
371  193165    J. Corona      Mexico  ...   81.0         10.0               2

[3 rows x 22 columns]

Agrupa por el nombre del club y cuenta:

In [251]:
players_mx_df.groupby(by='Club').agg('Nationality').count().nlargest(5)

Club
Guadalajara    29
U.N.A.M.       21
Club Atlas     20
Club Necaxa    20
Querétaro      19
Name: Nationality, dtype: int64

## Visualización

Utiliza las opciones de visualización de Pandas.

### Histograma de las edades de los jugadores de futbol

Selecciona la columna ``Age``` del dataframe ```fifa_df``` y muestra el histograma usando las opciones de visualización de Pandas:

In [ ]:
# <rellena>.plot.hist(bins=10)

### Gráfica de Pie (Preferred Foot)

Selecciónes el conteo de valores del pie preferido (columna ```Preferred Foot```) y muestra la información mediante una gráfica de Pie:

In [ ]:
# <completa>.plot.pie()

### Gráfica de dispersión Edad vs Potential left

Ahora, utiliza una gráfica de dispersión para visualizar el comportamiento del potencial por alcanzar (```Potential left```) de acuerdo a las edades de los jugadores:

*Tip: La gráfica debe mostrar la edad en un eje y el potencial por alcanzar en el otro.*

In [ ]:
# <completa>.plot.scatter(<completa>)

¿Qué otras variables o mezcla de variables sería interesante visualizar?

# Desafío Adicional (No calificado)

En la práctica con Numpy, creaste un modelo para identificar imágenes de dígitos escritos a mano. 

Para este nuevo conjunto de datos, ¿podrías usar una metodología similar para encontrar la posición en el campo de un jugador solamente usando los valores de su habilidades? 

Skills: ```Shooting 	Defense 	Passing 	Physical 	Control 	Mental 	GoalKeeping```